extends layout-noreact

block content
  input(type='hidden', name='_csrf', value=_csrf, id="csrf-tag")
  
  script(type="text/javascript").
    var csrf = $('#csrf-tag').val();
    $(document).ready(function() {
      $("#sync").click(function() {
        $(this).text("Syncing...");
        $(this).addClass("btn-info");

        $.ajax({
          url:    '/sync',
          method: 'post',
          data: {
            _csrf: csrf
          }
        }).done(function() {
          $(this).text("Done");
          $(this).removeClass("syncing");
          $(this).addClass("done");
        }).fail(function() {
          console.log("Failed");
          $(this).text("Try Again");
          $(this).addClass("btn-danger");
        });
      });
      
    });

  h1 Sync to filesystem
  
  button(value="sync", id="sync", class="btn btn-primary") Sync
