
.domain-list {
  font-size: 12px;
  padding: 1em;
}

.domain-list h4 {
  font-size: 20px;
  font-weight: bolder;
}

.domain-list ul {
  margin-left: 0;
  padding-left: .5em;
}

.domain-list li {
  list-style-type: none;
}
