[11:08 AM] Rich Burroughs: Hey I noticed you had to kick that Gitlab instance the other day. I was just curious how you knew that needed to happen. Did someone contact you, or was there an alert or new ticket?
[11:22 AM] Mikker Gimenez-Peterson: Someone contacted me, I think in professional services
[11:22 AM] Rich Burroughs: ok
[11:22 AM] Mikker Gimenez-Peterson: Gabe Schuyler·Dec-27 2:23 PMI think someone in here has access to kick the gitlab server ... it's a little unhappy ... https://gitlab.ops.puppetlabs.net/
[11:22 AM] Rich Burroughs: thanks
---- Friday January 5, 2018 ----
[1:32 PM] Mikker Gimenez-Peterson: When you get back I have something to show you
[1:34 PM] Rich Burroughs: ok
