h1 a
  color black

.container
  background-color black
  padding: 1em 1.5em

.add-field
  margin auto
  font-size 30px
  padding 5px
  padding-left .5em
  height 60px
  width 80%
  border 0
  background-color #fafafa

.ql-container, .add-field-textarea
  margin auto
  top 5vh
  font-size 14px
  max-width 960px
  padding-left 0
  height 95vh
  border 0
  background-color white
  border-top 1px solid #eee
  left 1%
  right 1%

.add-field:hover
  color black

.add-field-submit
  height: 60px
  margin-top: -9px
  border-radius: 0px 3px 3px 0px

body a {
  font-family: 'Inconsolata', monospace;
  color: #68B3AC;
}

.card img {
  width: 100%;
}

.card {
  font-family: 'Inconsolata', monospace;
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card a.actions {
  visibility:hidden;
}

.card:hover a.actions {
 visibility:visible;
}

.change-show {
  font-size: 18px;
}

div.icon-set > span {
  display: inline-block;
  margin-left: 1em;
}
